body {
  background-color: rgba(46, 193, 148, 1);
  color: #999;
  font-family: Helvetica, sans-serif;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-right: 10px;
  margin-left: 60px;
}

.wrapper {
  background: #2ec194;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1),
    inset -5px -5px 5px rgba(255, 255, 255, 0.2),
    inset 5px 5px 5px rgba(0, 0, 0, 0.1);
  width: 1000px;
  height: 200px;
  margin: 20px;
  padding: 10px;
}

.chart {
  position: relative;
  width: 1000px;
  height: 300px;
  background: #f7f7f7;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1),
    inset -5px -5px 5px rgba(255, 255, 255, 0.2),
    inset 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 20px;
}